<header class="text-white body-font bg-purple-700">
<div class="bg-purple-900">
  <div class="px-4 py-5 mx-auto max-w-screen-xl px-8">
    <div class="relative flex grid items-center grid-cols-3">
      <ul class="flex items-center space-x-8 lg:flex">
        <li><a href="/{{currentUser.details.username}}" aria-label="Our product" title="Our product" class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-teal-accent-400">Dashboard</a></li>
        <li><a href="/team" aria-label="Our product" title="Our product" class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-teal-accent-400">Team</a></li>
      </ul>
      <a href="https://github.com/JedJaws/cpsc349-project2" target="_blank" class="inline-flex items-center mx-auto">
        <span class="ml-3 text-xl font-bold tracking-wide text-white uppercase">Group 10</span>
      </a>
      <ul class="flex items-center ml-auto item-end space-x-8">
        {{#if logout}}
        <li>
          <a href="/user/logout"
            aria-label="Sign in"
            class="text-white border hover:bg-purple-500 hover:text-white active:bg-purple-600 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            title="Sign in">{{logout}}</a></li>
        {{else}}
        <li>
          <a href="/user/login"
            aria-label="Sign in"
            class="text-white border hover:bg-purple-700 hover:text-white active:bg-purple-400 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            title="Sign in">{{login}}</a></li>
        <li>
          <a href="/user/signup"
            class="text-white border hover:bg-purple-700 hover:text-white active:bg-purple-400 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            aria-label="Sign up"
            title="Sign up">{{signup}}</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
</header>